*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

**/go.sum
**/vendor/
**/.cache/

vendor/

*.swp
*.swo
*.tmp

.vscode/

.idea/

*.log
*.bak
*.old
*.orig

.env
.env.*
*.local.yaml
config.local.yaml
config.dev.yaml
config.debug.yaml

*.sql~*


